.container{
  display: flex;
  background-color: pink;
  height: 300px;

  align-items: center;
}

.item{
  background-color: aliceblue;
  border: 1px solid black;

  font-size: 20px;
  margin-right: 20px;
}