.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  height: 100px;
  background-color: aliceblue;
}

.name{
  height: 400px;
  width: 50%;
  background-color: azure;
}

.engine{
  height: 100px;
  width: 70%;
  background-color: beige;
  /* border-radius: 50%; */
}